section(class="blog")
    div(class="col-12 col-sm-12 col-md-12 header__container")
        h3(class="blog__title") Node.js First Steeps
        p(class="blog__title") Published: April 1, 2019
        button(class="blog__more_info") Read