section(class="contact")
    div(class="row")
        div(class="col-12 col-sm-12 col-md-3")
        
        div(class="col-12 col-sm-12 col-md-6")
            div(class= "contact__card")
                img(class="contact__card_logo", src='./images/hands.png')
                h2(class="contact__title") Wanna work togheter?
                p(class="contact__title") Send me a message

                div(class="contact__email_box")
                    p(class= "contact__email_text") Email

                div(class="contact__message_box")
                    p(class= "contact__email_text") Message

                button(class="contact__send_info") Send
        
        div(class="col-12 col-sm-12 col-md-3")
    