section(class="description")
    div(class="row")
        | Ut vitae placerat erat. Phasellus in aliquet lorem,
        | sed fermentum purus. Donec eu cursus sem. Nulla fringilla elit sed efficitur fermentum. 