section(class="arrow")
    div(class="row")
        div(class="col-12 col-sm-12 col-md-12")
            h3(class="arrow__name") Jessica Buenfil
            p(class="arrow__description") JavaScript Developer
            div(class="arrow__square")