section(class="experience")
    h2(class="experience__title") EXPERIENCE
     div(class="row")
        div(class="col-12 col-sm-12 col-md-1")

        div(class="col-12 col-sm-12 col-md-4")
            div(class= "experience__card")
                div(class="row")
                    div(class="col-4 col-sm-4 col-md-4")
                        img(class="experience__card_logo", src='./images/logo.png')
                    div(class="col-8 col-sm-8 col-md-8 u-no-left-pad")
                        h3(class="experience__card_company") Ksquare
                        p(class="experience__card_company") JavaScript trainee developer
                        p(class="experience__card_date") April 2019 -Present

                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experience__job_container")
                            p(class="experience__job_description")  Nullam aliquet arcu sed tellus consectetur semper. Donec ex velit, consequat quis sodales in, luctus sed neque. 

                h5(class="experience__more_info") View Less
            
        div(class="col-12 col-sm-12 col-md-2")

        div(class="col-12 col-sm-12 col-md-4")
            div(class= "experience__card")
                div(class="row")
                    div(class="col-4 col-sm-4 col-md-4")
                        img(class="experience__cardLogo", src='./images/logo.png')
                    div(class="col-8 col-sm-8 col-md-8 u-no-left-pad")
                        h3(class="experience__card_company") Ksquare
                        p(class="experience__card_company") JavaScript trainee developer
                        p(class="experience__card_date") April 2019 -Present
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experience__job_container")
                            p(class="experience__job_description") Pellentesque suscipit ultricies mauris sit amet tincidunt. Praesent sagittis cursus molestie.
                h5(class="experience__more_info") View Less
        
        div(class="col-12 col-sm-12 col-md-1")
            
