section(class="projects")
    h2(class="projects__title") PROJECTS
    div(class="row")
        div(class="col-12 col-sm-12 col-md-1")
        div(class="col-12 col-sm-12 col-md-4")
            div(class= "projects__card")
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        h3(class="projects__appName") Todo App
                        img(class="projects__card_logo", src='./images/todoApp.png')
    
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="projects__job_container")
                            p(class="projects__job_description") Pellentesque suscipit ultricies mauris sit amet tincidunt. 
                            button(class="projects__more_info") View More
        
        div(class="col-12 col-sm-12 col-md-2")
        
        div(class="col-12 col-sm-12 col-md-4")   
            div(class= "projects__card")
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        h3(class="projects__appName") Todo App
                        img(class="projects__card_logo", src='./images/todoApp.png')
    
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="projects__job_container")
                            p(class="projects__job_description") Praesent sagittis cursus molestie.
                            button(class="projects__more_info") View More
        
        div(class="col-12 col-sm-12 col-md-1")
