/**
 * Header component
 */
@require "./components/header"

/**
 * Hero Component
 */
@require "./components/hero"

/**
 * Skills Component
 */
@require "./components/skills"

/**
 * Projects Component
 */
@require "./components/projects_title"

/**
 * apps Component
 */
@require "./components/todo"

/**
 * together Component
 */
@require "./components/together"

/**
 * footer Component
 */
@require "./components/footer"