/**
 * Header component
 */
@require "./components/header"

/**
 * Hero Component
 */
@require "./components/hero"

/**
 * Skills Component
 */
@require "./components/skills"

/**
 * Blog component
 */
@require "./components/blog"

/**
 * Projects Component
 */
@require "./components/projects_title"

/**
 * apps Component
 */
@require "./components/todo"

/**
 * together Component
 */
@require "./components/together"

/**
 * footer Component
 */
@require "./components/footer"

/**
 * experience Component
 */
@require "./components/experience"

/**
 * experience card Component
 */
@require "./components/experience_card"

/**
 * readBlog card Component
 */
@require "./components/readBlog"