header(class="todo")
    div(class="todo__container")
        h3(class="todo__name") Todo App
        p(class="todo__text") Glorified todo app built on JavaScript, HTML5 and CSS3
        a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos")
            button(class="todo__info") ver mas

    div(class="todo__container")
        p(class="todo__name") Chef
        p(class="todo__text") Wanna order tortas mate? We gotcha covered, fam!
        a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos")
            button(class="todo__info") ver mas
    
    div(class="todo__container")
        p(class="todo__name") Conference App
        p(class="todo__text") Wanna book a conference room? We gotcha covered, fam!
        a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos")
            button(class="todo__info") ver mas