header(class="together")
    div(class="together__container")
        h1(class="together__text") Wanna work together?
        h3(class="together__subtext") Let´s get in touch
        a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos")
            button(class="together__info") Send me a message