@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.blog
    background-color: $background_white
    padding: $double_padding

    &__title
        color: $main_blue
        text-align: center
        font-family: $text_font
        margin-bottom: .5rem
    
    &__more_info
        color: $white_text
        font-family: $text_font
        background-color: $blue
        border: solid 1px $blue
        border-radius: 5%
        padding: .7rem $double_padding
        font-weight: bold
        margin: $normal_margin