@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.description
    box-sizing: border-box
    padding: $normal_margin $double_padding
    font-style: oblique
    text-align: center
    color: $main_blue