@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.experience
    background-color: $square_color
    padding: $normal_padding

    &__title
        color: $main_blue
        text-align: center
        font-family: $text_font
        margin 0

    &__card
        box-sizing: border-box
        box-shadow: 1px 1px 7px gray
        background-color: $background_white
        padding: $normal_padding
        margin-top: $normal_margin
        text-align: left 
    
    &__cardLogo
        display: inline-block
        width: 30%
        vertical-align: top
    
    &__text_container
        display: inline-block;
        width: 70%
        vertical-align: top
        font-weight: normal
    
    &__card_company
        color: $main_blue
        font-family: $text_font
        margin: .5rem
        margin-top: 0
        
    &__card_date
        color: $border_gray
        font-family: $text_font
        margin: .5rem
    
    &__job_container
        border-top: solid 1px $border_gray
        margin: $normal_margin 0

    &__job_description
        color: $border_gray
        font-family: $text_font
        margin: $normal_margin 0
        font-weight: normal
    
    &__more_info
        color: $blue
        font-family: $text_font
        text-align: right

.u-no-left-pad
    padding-left: 0