@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.header
  background-color: $background_white

  &__container
    box-sizing: border-box
    margin: 0 auto
    padding: $normal_padding
    width: 100% // fluid layout
    text-align: center

  &__name
    color: $main_blue
    font-family: $text_font
    margin: 0