@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.read_blog
    background-color: $square_color

    &__title
        color: $main_blue
        text-align: center
        font-family: $text_font
        margin 0