/**
 * Header component
 */
@require "./components/header"

/**
 * developer component
 */
@require "./components/developer-name"

/**
 * experience
 */
@require "./components/description"

/**
 * experience
 */
@require "./components/experience"

/**
 * experience
 */
@require "./components/projects"

/**
 * experience
 */
@require "./components/read_blog"

/**
 * experience
 */
@require "./components/blog"

/**
 * experience
 */
@require "./components/contact"

/**
 * experience
 */
@require "./components/footer"