section(class="experienceCard")
    div(class="row")
        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__container")
                h3(class="experienceCard__title") Ksquare Inc
                p(class="experienceCard__text") JavaScript trainee
                p(class="experienceCard__date") Sept 2018 - Abril 2019
                a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos" class="experienceCard__info") view more
        
        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__container")
                h3(class="experienceCard__title") Pulpomatic
                p(class="experienceCard__text") Backend JavaScript developer jr
                p(class="experienceCard__date") Abril 2019 - Present
                a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos" class="experienceCard__info") view more
        
        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__container")
                h3(class="experienceCard__title") Pulpomatic
                p(class="experienceCard__text") JavaScript developer jr
                p(class="experienceCard__date") Sept 2018 - Abril 2019
                a(href="https://git-scm.com/book/es/v1/Fundamentos-de-Git-Trabajando-con-repositorios-remotos" class="experienceCard__info") view more