section(class="skills")
    div(class="container skills__container")
        h1(class="col-12 col-sm-12 col-md-12 skills__title") Skills
        div(class=" row skills__items")
            div(class="col-4 col-sm-4 col-md-4 skills__item")
                img(class="skills__item", src='./images/rx.png')
            div(class="col-4 col-sm-4 col-md-4 skills__item")
                img(class="skills__item", src='./images/js.png')
            div(class="col-4 col-sm-4 col-md-4 skills__item")
                img(class="skills__item", src='./images/rn.png')