.card_container {
  background-color: rgb(17, 117, 184);
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: content-box;
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.planet_description {
  background-color: rgb(17, 117, 184);
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: content-box;
  width: 60%;
  height: 150px;
  display: flex;
  text-align: left;
  flex-direction: column;
  overflow: scroll;
}

.text {
  margin: 1px;
}
