@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.experience
    &__container
        background-color: $background_white
        box-sizing: border-box
        justify-content: space-evenly
        padding: $double_padding
        text-align: center

    &__title
        color: $border_green
        font-family: $text_font
        margin: 0    

/**
 * Tablet Styles
 */
@media screen and (min-width: $tablet_width)
    .experience
      &__title
        text-align: center