@require '../base/units'

.hero
    &__container
        box-sizing: border-box
        padding: 3rem $normal_padding
        background-image: url("./images/dots-bg.png")
    
    &__title
        font-family: arial
        font-size: 1.5rem
        margin: $normal_margin
        text-align: center
        background-color: $background_white