@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.skills
    &__container
        background-color: $background_gray
        box-sizing: border-box
        padding: $double_padding
        text-align: center
    
    &__title
        color: $circle_purple
        font-family: $text_font
        margin: auto
    
    &__items
        display: flex
        justify-content: space-evenly
            
    &__item
        border-radius: 100%
        height: 4rem
        width: 4rem