doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700", rel="stylesheet")
        link(rel="stylesheet", href="vendor/normalize.css")
        link(rel="stylesheet", href="vendor/bootstrap-grid.css")
        link(rel="stylesheet", href="main.css")
    body
       include components/header.pug
       include components/developer-name.pug
       include components/description.pug
       include components/experience.pug
       include components/projects.pug
       include components/read_blog.pug
       include components/blog.pug
       include components/contact.pug
       include components/footer.pug