@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.project_title
  background-color: $background_white

  &__container
        box-sizing: border-box
        padding: $normal_padding
        padding-top: $double_padding
        width: 100%

  &__name
    color: $border_green
    font-family: $text_font
    font-size: 2rem
    margin: 0
    