@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.together

    &__container
        background-color: $background_green
        padding: $double_padding $normal_padding
        box-sizing: border-box
        margin-top: $doubledouble_margin
    
    &__text
        color: $border_green
        font-family: $text_font
        text-align: center
    
    &__subtext
        color: $text_color
        font-family: $text_font
        text-align: center

    &__info
      background-color: $border_green
      width: 100%
      border-color: $border_green
      border-style: solid
      font-family: $text_font
      color: $background_white
      padding: $normal_padding